/* ? GENERAL */ 
* {
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth; 
    box-sizing: border-box; 
    position: relative; 
    text-decoration: none; 
    list-style: none;
    background-color: rgb(6, 23, 30);
    color: white;
    font-family: "Figtree", sans-serif;
}

@font-face {
    font-family: "Figtree";
    src: url('./Figtree/Figtree-VariableFont_wght.ttf') format("ttf");
}

h1 {
    font-size: clamp(48px, 2em, 56px);
    padding-bottom: 100px;

}

header, footer {
    background-color: rgb(9, 33, 42);
    width: 100%;
}

img{
    width: 150px;
    aspect-ratio: 1 / 1;
    border: 1px solid rgb(9, 33, 42);
    border-radius: 16px;
}


/* ! HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 140px;
    font-weight: bold;
    gap: 1rem;

    span{
        font-size: 36px;
        background-color: rgb(9, 33, 42);
    }

    img{
        max-width: 40px;
        /*max-height: 38px;
        max-width: 40px;*/
    }
}


/* ! MAIN */
main {
    display: flex;
    text-align: center;
    flex-direction: column;

    .main-content{
        padding: 10% 5% 15% 5%;
    }
    #contentTop{
        display: flex;  
        gap: 24px;
        padding-bottom: 3vw;
        align-items: center;
        justify-content: center;
    }

    #contentBottom{
        display: flex;
        justify-content: center;
        gap: 24px;
    }
}