/* ? GENERAL */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  list-style: none;
  background-color: rgb(6, 23, 30);
  color: white;
  font-family: "Figtree", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Figtree";
  src: url("./Figtree/Figtree-VariableFont_wght.ttf") format("ttf");
}

h1 {
  font-size: clamp(48px, 15dvw, 56px);
  padding-bottom: 10vw;
}

span {
  background-color: transparent;
  color: rgb(98, 123, 132);
}

body:has(dialog[open]) {overflow: hidden}

/* ! HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 140px;
  font-weight: bold;
  gap: 1rem;
  background-color: rgb(9, 33, 42);

  span {
    color: white;
    font-size: 36px;
    background-color: rgb(9, 33, 42);
  }

  img {
    max-width: 40px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    /*max-height: 38px;
        max-width: 40px;*/
  }
}

/* ! MAIN */
main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  padding: 10% 5% 15% 5%;
  display: flex;
  flex-direction: column;

  #content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  #content img {
    max-width: 150px;
    aspect-ratio: 1 / 1;
    border: 2px solid #124658;
    border-radius: 16px;
    background-color: transparent;
    cursor: pointer;
  }
  
  #content img:hover {
    border: 2px solid rgb(255, 108, 50);
  }
}

/* ! FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  background-color: rgb(9, 33, 42);
  border-radius: 15% 15% 0 0;
  padding: 20px 0;

  img {
    height: 32px;
    max-width: 132px;
    border: none;
    border-radius: 0px;
  }
  #footerLogo {
    background-color: transparent;
  }
}

/* ! DIALOG */

dialog {
  position: fixed;
  border: none;
  border-radius: 50px;
  padding: 20px;
  background-color: rgb(9, 33, 42);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  header {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    margin-bottom: 5%;
    padding: 20px 0;
  }

  #closeOverlay {
    border: none;
    height: 32px;
    width: 32px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    font-size: 18px;
  }
  #closeOverlay:hover {
    background-color: dodgerblue;
    color: black;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    #currentPicture {
      aspect-ratio: 1.5 / 1;
      width: clamp(280px, 35dvw, 1920px); /*1920 x 1080*/
      border: 1px solid transparent;
      border-radius: 20px;
    }
  }

  footer {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;

    #favIcon {
      height: 18px;
      width: 21px;
    }
    p {
      margin-top: 40px;
    }
    .overlayNavigation {
      width: 261px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25%;
      background-color: transparent;

      #randomizer {
        background-color: transparent;
        border: none;
      }
      #randomizer:hover{
        filter: drop-shadow(1px 0px 10px rgb(123, 123, 123));;
      }
        #shuffle {
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          max-height: 75%;
          max-width: 75%;
          min-width: 40px;
          min-height: 40px;
        }
        #shuffle:active {
          background-color: dodgerblue;
        }
      

      .arrow {
        border-radius: 50%;
        background-color: rgb(33, 39, 47, 100%);
        min-width: 60px;
        border: none;
        height: 100%;
      }
      .arrow:hover{
        filter: drop-shadow(0px 0px 4px rgb(123, 123, 123));
      }
      .arrow:active{
        background-color: dodgerblue;
      }
    }
    .overlayNavigation img {
      background-color: transparent;
      height: 18px;
      width: 21px;
    }
  }
}

dialog::backdrop {
  background: rgba(20, 20, 20, 0.35);
  backdrop-filter: blur(5px) saturate(120%);
}

@media (min-width: 320px) and (max-width: 515px) {
  header {
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .main-content {
    #content {
      gap: 10px;
    }
  }
  main img {
    width: clamp(80px, 40dvw, 150px);
  }

  footer {
    #footerLogo {
      margin-top: 20px;
      background-color: transparent;
    }
  }

  dialog {
    width: 90%;
    main {
      #currentPicture {
        width: 100%;
        border-radius: 0px;
      }
    }
    footer {
      .overlayNavigation {
        justify-content: space-around;
        align-items: center;
        gap: 20px;

          #shuffle{
            max-height: 35%;
            max-width: 35%;
          }
      }
    }
  }
}

